* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

header * {
    margin: 0 22px;
}

header img {
    width: 75px;
    height: 53px;
}

header ion-icon {
    font-size: 30px;
    color: #000000;
}

main {
    margin-top: 85px;
    font-size: 14px;
    margin-bottom: 85px;
    width: 100vw;
}

main b {
    font-weight: 700;
}

main div {
    display: flex;
    margin: 4px 0;
    padding: 10px;
}

.message {
    background-color: #FFFFFF;
    border-radius: 2px;
}

main div p:first-child {
    margin-right: 8px;
    color: #AAAAAA;
}

main div p:last-child {
    margin-left: 5px;
}

.status {
    background-color: #DCDCDC;
}

footer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer * {
    margin: 0 22px;
}


footer ion-icon {
    font-size: 30px;
}